{{ define "main" }}

{{ $posts := sort (where .Site.RegularPages "Section" "posts") "Date" "desc" }}

<div class="post-content">

  <h1>DedSec-Terminal</h1>
  <p>
    Cyber Threat Intelligence, Data Breaches,
    CVEs, Malware Tracking & Security Research.
  </p>

  <hr>

  <h2>Latest Intelligence</h2>

  {{ range first 1 $posts }}
    <article>
      <h3>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>

      <small>
        Posted on {{ .Date.Format "Jan 02, 2006" }}
      </small>

      <p>{{ .Summary }}</p>
    </article>
  {{ end }}

  <hr>

  <h2>Threat Intel</h2>
  {{ range first 5 (where $posts "Params.categories" "intersect" (slice "threat-intel")) }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      — {{ .Date.Format "Jan 02, 2006" }}
    </p>
  {{ end }}

  <h2>Data Breaches</h2>
  {{ range first 5 (where $posts "Params.categories" "intersect" (slice "data-breaches")) }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      — {{ .Date.Format "Jan 02, 2006" }}
    </p>
  {{ end }}

  <h2>CVEs</h2>
  {{ range first 5 (where $posts "Params.categories" "intersect" (slice "cves")) }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      — {{ .Date.Format "Jan 02, 2006" }}
    </p>
  {{ end }}

  <h2>Malware</h2>
  {{ range first 5 (where $posts "Params.categories" "intersect" (slice "malware")) }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      — {{ .Date.Format "Jan 02, 2006" }}
    </p>
  {{ end }}

  <h2>Research</h2>
  {{ range first 5 (where $posts "Params.categories" "intersect" (slice "research")) }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      — {{ .Date.Format "Jan 02, 2006" }}
    </p>
  {{ end }}

</div>

{{ end }}